.box-layout {
    align-items: center;
    background-image: url('/images/bg.jpg');
    background-size: cover; //makes sure the whole image covers the area instead of making copies of itself to cover the space
    display: flex;
    height: 100vh; //100vh is 100% of veiw port height
    justify-content: center;
    width: 100vw; //vw is view port width
}

.box-layout__box{
    background: fade-out($color: white, $amount: 0.15);
    border-radius: 3px;
    padding: $large-size $medium-size;
    text-align: center; //move everything in center of the box
    width: 25rem;
}

.box-layout__title{
    margin: 0 0 $medium-size 0;
    line-height: 1;
}