.text-input{
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $small-size;
}

.select{
    @extend .text-input; //  @extend .text-input means that this selector will inherit all the styles from .text-input  
}

.textarea{
    @extend .text-input;
    height: 10rem;
}