.list-header{
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $small-size $medium-size;
}

.list-body{
    margin-bottom: $medium-size;
    @media(min-width: $desktop-breakpoint){
        margin-bottom: $large-size;
    }
}

.list-item{
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: $small-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover{
        background: $off-white;
    } // this means the same as .list-item:hover and it will take it styles. If we hover to that class it will activate the styles in there

    @media (min-width: $desktop-breakpoint){
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $medium-size;
    }
}


.list-item--message{
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $medium-size;
    &:hover{
        background: none;
    }
}

.list-item__data{
    margin: $small-size 0 0 0;
    @media(min-width: $desktop-breakpoint){
        margin: 0;
        padding-left: $small-size;
    }
}


.list-item__title{
    margin: 0;
    word-break: break-all; // make sure it breaks up the words to fit in the box instead of passing through the box
}

.list-item__sub-title{
    color: $grey;
    font-size: $font-size-small;
}
